html {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  .container__colonne {
    height: 100%;
    width: 25%;
    .container__colonne__titre {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #508341;
      .logoAgri {
        margin: 5px;
        position: relative;
        left: 0;
        width: 75%;
      }
      .labelPostale {
        color: white;
        font-size: 20px;
      }
      .inputPostale {
        width: 50%;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin: 15px;
      }
      .buttonInput {
        width: 50%;
        background-color: #5a9449;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border: 1px solid hsla(0, 0%, 100%, 0.5);
        border-radius: 3px;
        margin: 25px;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
        outline:none;
      }
    }
    .container__colonne__liste {
      margin: 0px;
      .farmerList {
        margin-left: -42px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .farmerListItem {
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        width: 80%;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        background-color: #508341;
        border-radius: 3px;
        box-shadow: #565656 2px 2px 1px;
      }

      .farmerListItem:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s ease;
      }
    }
  }
  .container__map {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 100%;

    .imgCity {
      width: 20px;
    }

    .nameCity {
      display: none;
    }

    .containerMarker:hover .nameCity {
      cursor: crosshair;
      display: flex;    
    }
  }
}
